.App {
  text-align: center;
}
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin {
  padding: 2rem;
}

.card-body {
  background: white;
  border: 3px solid #73AD21;
  border-radius: 31px;
  padding: 19px;
  margin-top: 15%;
  margin-left: 15%;
}